.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #174196;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(169, 14, 14);
}

.App-link {
  color: #003d4e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Example CSS styles for DetailsPage */
/* CSS styles for HomePage and DetailsPage */

.home-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 200px;
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-item {
  border: 2px solid #0e0e0e;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.category-link {
  text-decoration: none;
  color: #760404;
}

.category-link:hover {
  opacity: 0.10;
}

.details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.category-details {
  font-size: 16px;
  line-height: 1.6;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

